body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100vh;
  }
  .divIndex {
    background-color: #d5f3f9;
    padding: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem; 
    display: grid;
    grid-template-areas: 
    "form form form form"
    "card card card card";
  }
  #form {
    grid-area: form;
  }
  .lista1 {
    min-height: 50vh;
    min-width: 10vw;
  }
  #main3 {
   display: flex;
   flex-flow: row;
   border: solid black;
   background-color: #00b4d8;
   justify-content: center;
  }
  .card {
   text-align: center;
  }
  
  footer {
    background-color: #ade8f4;
    text-align: center; }
    footer a {
      text-align: center;
      text-decoration: none; }
    footer p {
      text-align: center; }
  
  .botonInsta, .botonFb {
    font-size: 1rem; }
  
  p, li {
    color: darkslategray;
    letter-spacing: 1px;
    text-align: justify; }
  
  header {
    justify-content: center;
    text-align: center;
    background-color: #ade8f4; }
  
  .linkConsulta, .linkNosotros, .linkSalas {
    text-decoration: none;
    color: black;
    text-align: center;
    border: solid #00b4d8;
    background-color: #d5f3f9;
    border-radius: 1rem;
    padding: 1px;
    text-transform: uppercase; }
    .linkConsulta:hover, .linkNosotros:hover, .linkSalas:hover {
      background-color: #4fa5b6;
      transform: scale(10px);
      color: #d5f3f9; }
  
  .botonInsta {
    color: #1794ad; }
  
  .botonFb {
    color: #1794ad; }
